body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:548px;
  width:30px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:40px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
